# Ignore node_modules
node_modules
mockups

# Ignore build output
build

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore package-lock.json
package-lock.json

# Ignore IDE files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store
